nav {
    display: flex;
    align-items: center;
    padding: 6px;
}

#navmenu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 7px;
}

#images-a {
    justify-content: flex-end;
}

li a {
    display: flex;
    width: 60px;
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}

.navbuttons {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-family: Roboto,arial,sans-serif;
    color: #222;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


#logo {
    padding-top: 150px;
    padding-bottom: 10px;
}

#searchbar {
    display: block;
    width: 500px;
}

.searchbuttons { 
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.searchbuttons :hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.centeredblock {
    display: block;
    margin: auto;
}

.flexcentered {
    display:flex;
    justify-content: center;
}

.flexright {
    display:flex;
    justify-content: right;
}