#logo {
    padding-top: 150px;
    padding-bottom: 10px;
}

#searchbar {
    display: block;
    width: 300px;
    
}

/*button :hover {

}
*/
.centeredblock {
    display: block;
    margin: auto;
}

.flexcentered {
    display:flex;
    justify-content: center;
}
